.App {
  /* background: url(https://wallpapermemory.com/uploads/362/wine-wallpaper-hd-1920x1080-71104.jpg) 
  no-repeat center center fixed; */
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.HomePage {
  background: url(https://wallpapermemory.com/uploads/362/wine-wallpaper-hd-1920x1080-71104.jpg) 
  no-repeat center center fixed;
  background-size:auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 400px;
  background-color: #292929;
  color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

.HomePage h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  margin: 10;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 8rem;
  transform: translate(-100%, -50%);
}

.HomePage h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 250;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 5rem;
  transform: translate(-100%, -50%);
}

.ItemCard {
  color: rgb(0, 204, 255);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 17px;
  float: left;
  margin: 1.5%;
  text-align: center;
  width: 30%;
  height: 300px;
  background: whitesmoke;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.NavBar {
  background-color: rgb(37, 37, 37);
  width: 100%;
  padding: 0;
  list-style: none;
  margin-left: 0px;
  display: inline-block;
  text-align: center;
  align-items: center;
}
.NavBarLink {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
}
.NavbarLink:hover {
  color: rgb(0, 204, 255);
  text-decoration: none;
}

.AddItemButton {
  justify-content: center;
  background: rgb(209, 68, 2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 4px 14px;
  border-radius: 12px;
  border: 2px solid #ffffff;
  text-align: center;
  font-size: 28px;
  font-family: Verdana, Geneva, sans-serif;
  color: rgb(252, 252, 252);
}
.LoginContainer {
  width: 200px;
  padding: 2px;
  border: 2px solid #ce6339;
  background:rgba(185, 129, 112, 0.555);
  color: rgb(12, 2, 2);
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  transform: translate(400%, -490%);
}

.RandomItem {
  color: rgb(0, 204, 255);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 17px;
  float: left;
  margin: 1.5%;
  text-align: center;
  width: 30%;
  height: 30px;
  background: whitesmoke;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.ItemForm button {
  color: #ffffff;
  background-color: rgb(0, 204, 255);
}

.ItemForm h5 {
text-align: center;
color: rgb(182, 122, 45);
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: xx-large;
padding-bottom: 10px;
}
.ItemForm Button {
  color: #ffffff;
  background-color: rgb(0, 204, 255);
}
.ItemContainer {
  color: rgb(182, 122, 45);
  background-size:auto;
}
.card-body {
  color:rgb(37, 37, 37);
  background-size:auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
